# Visual Studio Code
.vscode/

# Maven
target/

# Bibliotheken (lib-Verzeichnis)
lib/

# Log-Dateien
*.log

# Betriebssystem-spezifische Dateien
.DS_Store    # macOS
Thumbs.db    # Windows

# Temporäre Dateien
*.swp
*.swo